/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14.1px;
	color: #878787;
	line-height: 2.2;
	font-weight: 500;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

::-webkit-input-placeholder {
	font-style: italic;
}

::-ms-input-placeholder {
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

::placeholder {
	font-style: italic;
}

a:hover {
	color: #d82a4e;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

body{
    background-image: url('/static/img/background.png');
    background-size: cover;
    color: whitesmoke ;
}


.nav-bar{
	display:grid;
	grid-template-columns: 90% auto;
	margin: auto;
	background-color:forestgreen;
	border: 3px solid whitesmoke;
	color:whitesmoke ;
}
.nav-bar header{
	font-size:2em;
	margin:auto;
	text-align:-webkit-center
}
.nav-bar .nav-list{
	display:block;
	list-style: none;
	border-left:3px solid whitesmoke
}
.nav-list .nav-link{
	//padding-right:10px;
	//float:right;
}
.nav-list .nav-link a{
	color: whitesmoke;
	text-align:center;
	display:block;
    text-decoration:none;
    padding: 16px;
}
.nav-list .nav-link  a:hover {
    background-color: #016101;
}

a{
	color: whitesmoke;
	text-align:center;
	display:block;
    text-decoration:none;
    padding: 16px;
}
a:hover {
    background-color: green;
    color: whitesmoke;
}

.header{
    text-align: center;
}

table, th, td{
   border: 3px solid;
   text-align:center;
}
th{
    font-size:2em;
}
td{
    font-size: 1.3em;
}
tr:hover{
    background-color:#186947eb;
}

table{
   border-collapse: collapse;
}

.center{
    width: 50% !important;
    margin: auto;
}

.site-form input, label{
    width: 100%;
    padding:10px;
    margin:10px;
    font-size:25px;
}

.site-form input{
    border: 3px solid whitesmoke;
    border-radius: 10px;
}
.btn{
    background-color: #31ad31c9;
    cursor: pointer;
    color:whitesmoke;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover{
    background-color: green;
}
.btn:active{
    transform: translateY(4px);
}

.errorlist{
    color: #f44336;
    background-color:#000000b8;
    border: 3px solid #f44336;
    border-radius: 5px;
    list-style: none;
}