{% extends 'accounts/layout.html' %}

{% block body %}

        <table class="center">
            <tbody>
            <tr>
                <td>
                    <a href="{% url 'accounts:list' %}" class=".btn-default"> Accounts List </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'accounts:create' %}" class=".btn-default"> Create Account </a>
                </td>
            </tr>
            </tbody>
        </table>



{% endblock %}